---
layout: default
---

<section class="audio">
  <ul>
    {% for audio_item in site.data.audio %}
      <li>
        <a class="audio-title" href="{{ site.basurl }}/assets/audio/{{ audio_item.file_name }}">
          <h2>{{ audio_item.title }}</h2>
        </a>
        {% if audio_item.description %}
          <p class="audio-description">{{ audio_item.description }}</p>
        {% endif %}
        <div class="meta">
          <div class="col">
            <div class="meta-title">RELEASE DATE</div>
            <div class="meta-content">{{ audio_item.release_date }}</div>
          </div>
          <div class="col">
            <div class="meta-title">TYPE</div>
            <div class="meta-content">{{ audio_item.type }}</div>
          </div>
          <div class="col">
            <div class="meta-title">LENGTH</div>
            <div class="meta-content">{{ audio_item.length }}</div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
