.audio {
  li {
    font-size: 18px;

    margin-bottom: $spacing-unit + ($spacing-unit / 2);

    list-style-type: none;
  }
}

.audio-title {
  @include media-query($on-mobile) {
    font-size: 16px;
  }

  font-weight: 700;

  display: block;

  padding: $spacing-unit;

  text-align: center;

  border-radius: 6px 6px 0 0;
  background-color: rgba(40, 0, 0, .13);

  &:hover {
    background-color: rgba(40, 0, 0, .10);
  }
}

.audio-description {
  padding: $spacing-unit / 3;
  background-color: rgba(40, 0, 0, .19);
  font-size: 13px;
  margin-bottom: 0;
  text-align: center;
  color: $brand-color;
}

