.audio {
  li {
    font-size: 18px;

    list-style-type: none;
  }
}

.audio-title {
  @include media-query($on-mobile) {
    font-size: 16px;
  }

  font-weight: 700;

  display: block;

  padding: $spacing-unit;

  text-align: center;

  border-bottom: 3px solid darken($background-color, 14%) !important;
  border-radius: 6px 6px 0 0;
  background-color: darken($background-color, 5%);

  &:hover {
    background-color: darken($background-color, 4%);
  }
}
